table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}
table th,
table td {
  border: 1px solid var(--secondary-color);
  padding: 0.75rem;
  text-align: left;
}
table th {
  background: var(--secondary-color);
  font-weight: 700;
}
table tr:nth-child(even) {
  background: #f8faf9;
}
